<form method="POST">
<label>Position</label><br>
<input name="position" class="field"/><br><br>
<label>CV</label><br>
<input name="cv" class="field"/><br><br>
<label>Salary</label><br>
<input name="salary" type="number" class="field"/><br><br>
<input type="submit" value="Create" />
</form>