<form method="POST">
    <label>Position</label><br>
    <input name="position" value="{{contract.position}}" class="field"/><br><br>
    <label>Salary</label><br>
    <input name="salary" type="number" value="{{contract.salary}}" class="field"/><br><br>
    <input type="submit" value="Edit"/>
</form>