<form method="POST">
<label>Имя</label><br>
<input name="position" value="{{resume.position}}" class="field"/><br><br>
<label>Имя</label><br>
<textarea name="cv" class="field">{{resume.cv}}</textarea><br><br>
<label>Имя</label><br>
<input name="salary" type="number" value="{{resume.salary}}" class="field"/><br><br>
<input type="submit" value="Edit"/>
</form>