<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<form method="POST">
    <label>Role</label><br>
    <select name="role">
        <option>employee</option>
        <option>employer</option>
    </select><br><br>
    <label>Name</label><br>
    <input name="name" class="field"/><br><br>
    <label>Surname</label><br>
    <input name="surname" class="field"/><br><br>
    <label>Login</label><br>
    <input name="login" class="field"/><br><br>
    <label>Password</label><br>
    <input name="password" class="field"/><br><br>
    <label>Gender</label><br>
    <select name="gender">
        <option>Female</option>
        <option>Male</option>
    </select><br><br>
    <input type="submit" value="Sign up" />
</form>
</body>
<html>