<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
<form method="POST">
    <label>Имя</label><br>
    <input name="name" class="field"/><br><br>
    <label>Имя</label><br>
    <input name="surname" class="field"/><br><br>
    <label>Имя</label><br>
    <input name="login" class="field"/><br><br>
    <label>Имя</label><br>
    <input name="password" class="field"/><br><br>
    <label>Имя</label><br>
    <input name="gender" class="field"/><br><br>
    <input type="submit" value="Отправить" />
</form>
</body>
<html>