<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Список пользователей</h1>
<table>
    <tr><th>Name</th><th>Age</th><th></th></tr>
    {{#each resumes}}
        <tr>
            <td>{{this.position}}</td>
            <td>{{this.salary}}</td>
            <td>{{this.cv}}</td>
            <td>
                <a href="/add_Contract/{{this.id}}]">Propose contract</a>
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
<html>